.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

#topPanel {
  background: #111111;
}

.perspDisp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.geomet {
  background-color: #999;
  color: rgb(40, 40, 40);
}

.topDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topDetailLeft {
  background-color: #333;
  border-color: #ddd;
  border: 2em;
}

.topDetailRight {
  background: #222;
}

.pointObs br {
  display: none;
}

.perCan {
  background: #444444;
}

.threeD {
  background: #666666;
}

.scene3D {
  background-color: #666;
  color: rgb(40, 40, 40);
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: rgb(240, 240, 240);
  text-align: center;
}

#geom {
  color: rgb(40, 40, 40);
}
